*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f8f9;
}

h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color:whitesmoke;   
}

a:visited {
    text-decoration: none;
    color: whitesmoke;
}

/* -------------------------------- */
/* ---- SECCION DE LA CABECERA ---- */
.cabecera {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* TITULO */
.cabecera h1 {
    text-align: center;
    font-size: 450%;
    display: inline-block;
    margin: auto;

    display: inline-flexbox;
    vertical-align: middle;
}

/* LOGO */
.cabecera img {
    height: 100px;
    width: 120px;
    margin: auto;
    padding-bottom: 1%;
    display: inline-block;

    display: inline-flexbox;
    vertical-align: middle;
}

/* MENU DE LA CABECERA */
.menu {
    padding: 5px 15px;
    text-align: center;
}

/* DISEÑO LISTA DEL MENU */
.opciones li {
    list-style: none;
    padding: 5px;
    display: inline-block;
    background-color: black;
    border-radius: 4px;
    width: auto;
    font: bold 14px sans-serif;
}

/* DISEÑO EFECTOS DE LA LISTA */
.opciones li:hover {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    background-color: blanchedalmond;
}

/* -------------------------------- */
/* ---- SECCION DE AGRUPAR ---- */
.agrupar {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 15px;
}

/* -------------------------------- */
/* ---- SECCION DE EVENTO FIFA ---- */
.evento_fifa {
    text-align: center;
}

.evento_fifa>h1 {
    font-size: 300%;
    text-decoration: underline;
}

.evento_fifa>h2 {
    color: grey;
}

.evento_fifa>h3 {
    font-style: italic;
}

.evento_fifa .parrafo1{
    text-align: justify;
}

.evento_fifa .parrafo2{
    margin-top: 20px;
    text-align: justify;
}

.events-wrapper {
    display: flex;
    flex-wrap: wrap;  /* Continuen las imagenes hacia debajo en vez de a la dcha*/
    align-items: baseline; /* Alineen por debajo*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.events-wrapper .event-logo{
    height: 200px;
    width: 350px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

/* ---- SECCION DE LA COLUMNA ---- */
.columna{
    margin-left: 20px;
    width: 30%;
    margin-right: 100px;
    float: left;
}

/* TITULO1 DE LA COLUMNA */
.columna .titulo1_parrafo{
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.columna .requisitos{
    text-align: justify;
}

.columna .requisitos .frase{
    margin-top: 15px;
}

.columna .requisitos .frase .video_reglas {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

/* DIV REDES SOCIALES */
.columna .redes_sociales {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

/* DISEÑO REDES SOCIALES */
.columna .redes {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

/* DISEÑO EFECTOS REDES SOCIALES*/
.columna .redes:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

/* -------------------------------- */
/* ---- SECCION DEL FOOTER ---- */
.pie{
    clear: both;
    padding: 20px;
    background-color: blanchedalmond;
    text-align: center;
}

.pie .copyright {
    height: 15px;
    width: 15px;
}

/* -------------------------------- */
/* ---- SECCION DE CONDICIONALES ---- */
@media only screen and (max-width: 1745px){
    .event{
        width: 50%;
    }
}

@media only screen and (max-width: 1100px){
    .event{
        width: 100%;
    }
}
